@import '../../index.scss';

.contact-container {
    display: grid;
    text-align: center;
    padding-top: 1rem;
}

.contact-link {
    font-size: 1.5em;
    font-weight: lighter;
    color: $color-bg-variant;
    &:hover{
        
        color: $color-light;
        text-shadow: .03rem .03rem $color-bg-variant ;
        // text-shadow: 1px 1px #84817a
    }
}
