@import "/src/index.scss";

nav {
  background: $color-bg-variant;
  // width: max-content;
  // display: block;
  padding: 1rem;
  // z-index: 2;
  position: fixed;
  // left: 20%;
  transition: $transition;
  // transform: translateX(-150%);
  border: 2px $color-primary-variant solid;
  top: 5%;
  left: -15px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border-radius: 0em 2em 2em 0em;
  backdrop-filter: blur(15px);
  
  &:hover {
    transition: $transition;
    transform: translateX(10%);
  }

  a {
    background: transparent;
    padding: 0.9rem;
    margin-top: .5rem;
    border-radius: 50%;
    display: flex;
    color: $color-light;
    font-size: 1.3rem;

    &:hover {
      background: $color-bg;
      color: $color-bg-variant
    }

    &.active {
      background: rgba($color-bg, $alpha: 0.2);
      color: $color-bg;
    }
  }
}
@media screen and (max-width: 2000px) {
  .nav {
    border: 3px $color-primary solid;
  }
}
