@import "/src/index.scss";

nav {
  background: rgba(0, 0, 0, 0.3);
  // width: max-content;
  // display: block;
  padding: .7rem;
  // z-index: 2;
  position: fixed;
  // left: 20%;
  transition: $transition;
  // transform: translateX(-150%);
  border: 2px $color-primary-variant solid;
  top: 5%;
  left: -5px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border-radius: 0% 35% 35% 0%;
  backdrop-filter: blur(15px);
  
  &:hover {
    transition: $transition;
    transform: translateX(10%);
  }

  a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: $color-light;
    font-size: 1.3rem;

    &:hover {
      background: $color-primary;
      color: $color-primary-variant
    }

    &.active {
      background: rgba($color-light, $alpha: 0.2);
      color: $color-white;
    }
  }
}
