@import "../../index.scss";

.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 100%;
  padding-top: 1rem;
  
  // margin: 0 !important;

  .experience__frontend,
  .experience__backend {
    background: $color-bg-variant;
  //   padding-bottom: 2em;
  // padding-top: 1.5em;
  // padding-left: 1.5em;
  // padding-right: 1.5em;
    padding: 2em;
    margin: auto;
    // max-width: 80%;
    border: 2px $color-primary-variant solid;
    border-radius: 2em;
    
    
    h2 {
      font-size: 2rem;
      font-weight: lighter;
      text-align: center;
      margin-bottom: 2rem;
      // color: $color-primary;
    }
    .icon {
      font-size: 3em;
      margin: auto;
      cursor: pointer;
    }

    .experience__content {
      display: flex;
      flex-wrap: wrap;
      // margin-top: 5rem;
      // row-gap: 2rem;

      .experience__details {
        display: flex;
        flex: 3 12;
        flex-direction: column;
        align-items: center;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 1rem;
        width: 3rem;

        &-icon {
          margin-top: 6px;
          // color: $color-primary;
        }
      }

      .experience__details:nth-child(odd) {
        // margin-right: 1.5rem;
      }

      
      * {
        flex: auto
      }
    }
  }
}

.on {
  transition: $transition;
  color: $color-primary;
    // min-width: 250px;
  
  &:hover {
      transition: $transition;
      // background: $color-primary-variant;
      // border: 2px solid $color-primary;
      // color: $color-primary-variant;
      cursor: default;
  
      .txt {
        transition: $transition;
        color: $color-deselect;
      }
  
      h2 {
        transition: $transition;
        color: $color-deselect;
      }
  
      .icon {
        transition: $transition;
        color: $color-deselect;
        ;
      }
    }
}

.off {
  transition: $transition;
  color: $color-primary-variant;
  &:hover {
      transition: $transition;
      // background: $color-primary-variant;
      // border: 2px solid $color-primary;
      // color: $color-primary-variant;
      cursor: default;
  
      .txt {
        transition: $transition;
        color: $color-primary-variant;
      }
  
      h2 {
        transition: $transition;
        color: $color-primary-variant;
      }
  
      .icon {
        transition: $transition;
        color: $color-primary-variant;
        ;
      }
    }
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }
  .experience__frontend,
  .experience__backend {
    width: 80%;
    padding: 2rem;
    // margin: 0 auto;

    .experience__content {
      padding: 1rem;

      .experience__details {
        justify-content: center;
      }

    }
  }
}

.section-subtitle {
  color: $color-bg-variant;
  font-weight: lighter;
  font-style: italic;
  font-size: 90%;
  padding-top: 1em;
  text-align: center;
}

// .section-title {
//   margin-bottom: 10em;
// }
//   &:hover {
//     transition: $transition;
//     font-size: 110%;
//   }
// }

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  .experience__container {
    gap: 1rem;
  }
}
