@import "/src/index.scss";

.about-me-wrapper {
  margin: 2em 0em 0em 0em;
  background-color: $color-bg-variant;
  border-radius: 2rem;
  border: 2px rgba(29, 68, 95, 0.4) solid;
  min-width: 85%;
//   max-height: 5rem;
}

.welcome {
  padding: .5em 0 0 0;
  font-size: 2em;
}

.image-text {
  font-size: smaller;
  // font-style: italic;
  font-weight: lighter;
}

.about-me-text {
  // margin: 15px;
  padding: 0em;
//   max-height: 5rem;
white-space: pre-line;
}

img {
  border-radius: 2rem;
  border: 2px $color-primary solid;
  // padding: 1rem;
  // margin: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  // margin-top: 5rem;
  border: 5px black;
//   margin-right: -20%;
}

.main-img {
  margin: auto;
  border-radius: 10%;
  max-width: 66%;
  margin-top: 1em;
  &:hover {
      border-color: azure;}
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    flex: 1;
    justify-content: center;
    &:nth-child(odd) {
      //   left: 500px;
      //   position: absolute;
      // left: calc(50%);
      // margin-left: -20%
    }
    &:nth-child(even) {
      //   left: 500px;
      //   position: absolute;
      // left: calc(50%);
    //   margin-right: -20%
    }
}

.about-me-text {
    margin: auto;
    margin: 1em 1.5em 2em 1.5em;
}